/* .search-box{
    width: 80vw;
    min-height: 200px;
    position: relative;
    margin: 0px auto;
    padding-bottom: 60px;
    padding-top: 20px;
    margin-bottom: 100px;
    border: 1px solid #f0f0f0;
} */
.search-box{
    width: 80vw;
    min-height: 200px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    padding-bottom: 60px;
    padding-top: 20px;
    margin-bottom: 100px;
    border: 1px solid #f0f0f0;
}

.search-logo{
    /* position: absolute; */
    /* top: 5px; */
    padding: 0 15px;
    /* left: 5px; */
    margin: 5px auto;
    width: 90%;
}

.search-logo img{
    width: 50px;
    vertical-align: middle;
}
.search-logo span{
    vertical-align: middle;
    font-size: 18px;
}

/* .search-item{
    width: 90%;
    height: 200px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #f0f0f0;
} */


.search-item{
    /* width: 90%; */
    height: 200px;
    margin: 10px 0;
    flex-basis: 20%;
    /* display: flex; */
    /* justify-content: space-around; */
    align-items: center;
    /* border: 1px solid #f0f0f0;*/
}



.search-item div{
    text-align: center;
    flex-basis: 18%;
    margin: 10px 0;
}

.search-item div:nth-child(3){
    color: #FF5722;
    font-size: 18px;
}

.search-item-img img{
    border: 1px solid #f0f0f0;
    width: 180px;
    height: 180px;
}

#page{
    text-align: center;
}